.container {
  display: flex;
  justify-content: space-between;
}

.candidate, .accepted, .rejected {
  flex: 1;
  padding: 100px;
  border: 1px solid #ddd;
}

.candidate img {
  max-width: 50%;
  height: 100 px x 100 px;
}

/* Estilos para pantallas pequeñas (por ejemplo, móviles) */
@media (max-width: 600px) {
  .container {
    flex-direction: column;
  }

  .candidate, .accepted, .rejected {
    width: 100%;
  }
} 
